@charset "UTF-8";
@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BebasNeue-Regular';
  src: url("../fonts/bebasneue/BebasNeue-Regular.woff") format("woff"), url("../fonts/bebasneue/BebasNeue-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BebasNeueCyrillic';
  src: url("../fonts/bebasneue/BebasNeueCyrillic.woff") format("woff"), url("../fonts/bebasneue/BebasNeueCyrillic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: linear-gradient(135deg, #f75d2c, #c43608);
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat-Medium", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 85%;
  width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 15px 0;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content__register {
  padding: 11px 15px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
  border-radius: 6%;
  border: 1px solid #fff;
}

.header__content__title-link {
  font-size: 26px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.main {
  margin-top: 50px;
  padding: 50px;
}

.main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.main__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__list__title {
  font-size: 46px;
  line-height: 54px;
  font-weight: 700;
  max-width: 550px;
}

.main__list__reasons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  line-height: 28px;
  margin-top: 24px;
}

.main__list__reasons-block__title {
  font-weight: 600;
}

.main__list__reasons-block__text {
  opacity: .8;
  max-width: 500px;
}

.main__list__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.main__list__info-block__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

.main__list__info-block__text {
  font-family: 'BebasNeueCyrillic';
  text-transform: uppercase;
  font-size: 96px;
  line-height: 100%;
}

.main__list__info-block__text--after {
  position: relative;
}

.main__list__info-block__text--after::after {
  content: '+ ставки';
  font-size: 24px;
  text-transform: uppercase;
  line-height: 100%;
  position: absolute;
  right: 20px;
  top: 0;
}

.main__list__info-block__register {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  border: 1px solid #fff;
  padding: 20px 43px;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */