body
  background: linear-gradient(135deg, rgb(247, 93, 44), rgb(196, 54, 8))
  background-repeat: no-repeat
  background-size: cover
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: "Montserrat-Medium", sans-serif

img
  max-width: 100%

.container
  max-width: 85%
  width: 1200px
  margin: 0 auto
