.slick-track
  display: flex
.slick-list
  overflow: hidden

.theme
  &-orange
    background-image: linear-gradient(135deg, rgb(247,93,43), rgb(174,50,10))
  &-green
    background-image: linear-gradient(135deg, rgb(75,219,109), rgb(55,192,88))

.slick-dots

  display: flex
  list-style: none
  z-index: 20
  li
    &:not(:last-of-type)
      margin-right: 16px
    button
      cursor: pointer
      font-size: 0
      width: 15px
      height: 15px
      background-color: #fff
      border-radius: 50%
      border: none
      transition: .4s
  .slick-active
    button
      background-color: #000
